* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 500px;
}
.flex-item {
    width: 100%;
    background-color: blue;
}